/* https://franciscoamk.com/usar-reset-css-o-normalizar/ */
*{
	margin: 0px;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.cabecera {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.div-logo, .div-submenu, .div-menu {
	width: 100%;
	text-align: center;
}
/* Slideshow container */
.slideshow-container {
	/* max-width: 1000px; */
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.div-descripcionempresa{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 75%;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
}
.grid-container-mini{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
}

.grid-container-carcarteristicas {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
	
}
.icono-caracteristicas{
	margin: 0 auto;
}

.grid-item {
	width: 100%;
}

.logo-footer{
	display: flex;
	justify-content: center;
}
.titulos-footer{
	text-align: center;
}
.copyright{
	text-align: center;
	margin-top: 10px;
}
.socialnetworks{
	text-align: center;
	margin-top: 10px;
}

.migasDePan{
	display: flex;
	flex-direction: row;
}
.portada img{
	width: 100%;
	height: auto;
}
.migasDePan{
	display: none;
}
#map {
	height: 500px;
	margin: 0 auto;
	margin-left: 5%;
	margin-right: 5%;
}
#textArea{
	display: flex;
	flex-direction: column;
}
.centrar-derecha{
	display: flex;
	justify-content: flex-end;
}

.form {
	width: 95%;
	height: auto;
	margin: 0 auto;
}
.ventajas-Natura {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 50px;
}
.flex-row {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 25px;
}

.center {
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.row{
	display: flex;
	align-items: center;
	margin-top: 50px;
}
.row-texto{
	margin-top: 25px;
	padding: 20px;
}


/*Código de prueba CSS INDEX.HTML*/

li{
	margin: 5px;
}

.titulo-descripcion{
	font-size: 20px;
	text-align: center;
	margin: 20px;
}

p.principal-descripcion{
	text-align: center;
}
p.secundaria-descripcion{
	text-align: center;
}
p.terciaria-descripcion{
	text-align: center;
}
.div-botondescripcion{
	margin: 20px;
	text-align: center;
}
.flecha-roja{
	text-align: center;
}
.grid-container-carcarteristicas{
	margin-top: 50px;
}
.div-expertos{
	margin-top: 50px;
	text-align: center;
}
.texto-expertos{
	margin: 50px;
}
#masInfo{
	margin-top: 50px;
}
a{
	color: #585858;
}
a:hover {
	color: red;
}
.enlace-footer{
	margin-top: 10px;
}


/*Código de prueba CSS QuienesSomos.html*/

.inicio-expertos{
	margin-top: 25px;
	text-align: center;
}
.row-autor{
	margin-top: 10px;
	padding: 20px;
}

.servicios{
	/* display: flex;
	justify-content: center;
	flex-direction: column; */
}
.servicios h2{
	text-align: center;
	margin-top: 30px;
}
.servicios p{
	text-align: justify;
}

.galeria {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.ventajas-Natura div{
	margin: 20px;
}

/* Estilos para teléfonos móviles */
@media screen and (max-width: 480px) {
	/* body {
		background-color: red;
	} */
	.div-submenu{
		display: none;
	}
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
	.grid-container-mini {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	.texto-expertos{
		margin: inherit;
	}
	.imagen-logo{
		width: 150px;
	}
	.texto-centrado{
		display: flex;
		justify-content: center;
	}
	.titulo-form{
		display: flex;
		justify-content: flex-start;
	}
	.form{
		margin-left: 20px;
	}
	.cajas-form{
		width: -webkit-fill-available;
	}
	p{
		display: flex;
		justify-content: flex-start;
	}
	#solucion{
		width: 100px;
	}
	#region{
		width: 100px;
	}
	.imagen-barra{
		width: 10px;
		margin-left: 5px;
	}
	.img-socialnetworks{
		width: 10px;
		padding: 5px;
	}
}

/* Estilos para tabletas */
@media screen and (min-width: 481px) and (max-width: 768px) {
	/* body {
		background-color: rgb(0, 0, 0);
	} */
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.main-menu ul li{
		text-align: left;
		display:inline-block;
	}
	.main-submenu ul li{
		text-align: left;
		display:inline-block;
	}

	.div-menu{
		display: flex;
		justify-content: flex-end;
	}

	.subMenu{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.form {
		width: 75%;
	}
	.ventajas-Natura {
		flex-direction: row;
	}
	.flex-row {
		flex-direction: row;
	}
	.servicios{
		display: flex;
		justify-content: row;
	}
	.servicios div{
		margin: 20px;
	}
	.img-socialnetworks{
		padding: 10px;
	}
}


/* Estilos para computadoras */
@media screen and (min-width: 769px) {
	/* body {
		background-color: rgb(0, 169, 20);
	} */
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	p{
		text-align: justify;
	}
	.main-menu ul li{
		text-align: left;
		display:inline-block;
	}
	.main-submenu ul li{
		text-align: left;
		display:inline-block;
	}
	.subMenu{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.grid-item {
		width: 80%;
		margin: 0 auto;
	}
	#masInfo{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.migasDePan{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.migasDePanItem{
		display: flex;
		align-items: center; 
		height: 100px;
		margin: 20px;
	}
	.form {
		width: 50%;
	}
	.ventajas-Natura {
		flex-direction: row;
	}
	.flex-row {
		flex-direction: row;
	}
	.servicios{
		display: flex;
		justify-content: row;
	}
	.servicios div{
		margin: 30px;
	}
	.img-socialnetworks{
		width: 22px;
		padding: 20px;
	}
}

.form {
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-size: 1em;
	margin-bottom: 1em;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form div {
	margin-bottom: 1em;
}

label {
	font-weight: bold;
	margin-right: 1em;
}

select {
	width: 200px;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="radio"] {
	margin-right: 1em;
}

.centrar-derecha {
	display: flex;
	justify-content: flex-end;
}

input[type="submit"] {
	width: 50px;
	height: 50px;
	background-image: url('img/buscador.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: white;
	cursor: pointer;
}

